<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="titleText">
    <h3>angular-circular-progressbar</h3>
    <p>A circular progress indicator component</p>
  </div>
  <div class="spacer"></div>

  <!-- <a aria-label="PlCoder at twitter" target="_blank" rel="noopener" href="https://twitter.com/plcoder" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none" />
      <path
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
        fill="#fff" />
    </svg>
  </a> -->
</div>

<div class="container mb-5">
  <div class="row mt-2">
    <div class="col-12">
      <div class="text-center">
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-6 offset-3 col-md-2 offset-md-5">
      <change-progress [values]="[0, 20, 40, 60, 80, 100]" #inst="progress">
        <ng-circular-progressbar [value]="inst.value" [text]="inst.value + '%'"
          [styles]="buildStyles({ strokeLinecap: 'butt'})">
        </ng-circular-progressbar>
      </change-progress>
    </div>
  </div>

  <hr />
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center">Built with SVG and styled with plain CSS.</h2>
    </div>

    <example
      [description]="'<span>Customize <Code>props.text</Code>, <Code>props.styles</Code>, and  <Code>props.className</Code> based on value.</span>'">
      <change-progress [values]="[75,100]" #inst2="progress">
        <ng-circular-progressbar [value]="inst2.value" [className]="inst2.value === 100 ? 'complete': 'incomplete'"
          [text]="inst2.value === 100 ? inst2.value+'!!': inst2.value+'...'">
        </ng-circular-progressbar>
      </change-progress>
    </example>

    <example
      [description]="'Customize <Code>props.strokeWidth</Code> and make it go counterclockwise with <Code>props.counterClockwise</Code>.'">
      <change-progress [values]="[20,80]" #inst3="progress">
        <ng-circular-progressbar [value]="inst3.value" [text]="inst3.value+'%'" [strokeWidth]="5"
          [counterClockwise]="true" [styles]="buildStyles({
            pathColor: 'rgba(255, 152, 199, ' + (100 + inst3.value) / 200 + ')',
            pathTransitionDuration: 0.2
          })">
        </ng-circular-progressbar>
      </change-progress>
    </example>

    <example [description]="'<span> Use <Code>props.background</Code> to give it an inverted style.</span>'">
      <ng-circular-progressbar className="CircularProgressbar-inverted" [background]="true" [backgroundPadding]="5"
        [strokeWidth]="6" [value]="66" [text]="'66%'" [classes]="{
            root: 'CircularProgressbar',
            trail: 'CircularProgressbar-trail',
            path: 'CircularProgressbar-path',
            text: 'CircularProgressbar-text some-additional-test-class',
            background: 'CircularProgressbar-background'
          }" [styles]="{background:{fill:'#3e98c7'}}">
      </ng-circular-progressbar>
    </example>

    <example
      [description]="'<span>Want that car speedometer look? Use <Code>props.circleRatio</Code> and CSS rotation.</span>'">
      <change-progress [values]="[66]" #inst4="progress">
        <ng-circular-progressbar [value]="inst4.value" [text]="inst4.value+'%'" [circleRatio]="0.75" [styles]="buildStyles({ rotation: 1 / 2 +
          1 / 8, strokeLinecap: 'butt' , pathColor: 'orange' , trailColor: '#eee' })">
        </ng-circular-progressbar>
      </change-progress>
    </example>

    <example
      [description]="'<span>Need custom content? Use <Code>CircularProgressbarWithChildren</Code> to add arbitrary centered HTML. </span>'">
      <ng-circular-progressbar-with-children [value]="66">
        <img style="width: 40px; margin-top: -5px" src="https://i.imgur.com/b9NyUGm.png" alt="doge" />
        <div style="font-size: 12px; margin-top: -5px">
          <strong>66%</strong> mate
        </div>
      </ng-circular-progressbar-with-children>
    </example>

    <example
      [description]="'<span> <Code>circleRatio</Code>&nbsp; <Code>counterClockwise</Code>&nbsp; <Code>background</Code> </span>'">
      <ng-circular-progressbar [value]="50" [circleRatio]="0.7" [counterClockwise]="true" [background]="true"
        [backgroundPadding]="4" [styles]="{ 'trail': {'stroke': '#fff'} }">
      </ng-circular-progressbar>
    </example>

    <div class="col-12 text-center mt-3">
      <a class="btn btn-outline-info">
        See more examples on CodeSandbox
      </a>
    </div>

  </div>

  <hr class="mt-5" />
  <div class="mt-5 mb-5">
    <h2 class="text-center">Installation</h2>
    <div class="text-center mt-5">
      <p>Install with yarn or npm:</p>
      <p class="mb-5">
        <Code>npm i @plcoder/ng-circular-progressbar -S</Code>
      </p>
      <a href="https://github.com/plumcoder/ng-circular-progressbar" class="btn btn-info btn-lg">
        View docs on Github
      </a>
    </div>
  </div>
</div>
