<div class="col-12 col-sm-6 col-md-4 mt-5">
  <div class="row">
    <div class="col-6 col-md-4 offset-3 offset-md-4">
      <ng-content></ng-content>
    </div>
  </div>
  <p class="text-center mt-3" #place [innerHTML]="html"> </p>
</div>

<!-- <div style="margin-bottom: 80px">
  <hr style="border: 2px solid #ddd" />
  <div style="margin-top: 30px; display: flex">
    <div style="width: 30%; padding-right: 30px">
      <ng-content></ng-content>
    </div>
    <div style="width: 70%">
      <h3 className="h5">{{label}}</h3>
      <p>{{description}}</p>
    </div>
  </div>
</div> -->
